<div class="row" style="position:absolute;top:15vh;left:0;width:100vw;height:85vh;margin:auto;">
	<div class="row" style="width:100%;">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="transform:translateY(15vh);">
			<div class="row" style="width:100%;display:flex;justify-content:space-evenly;">
				<i class="fas fa-feather-alt fa-3x" ng-click="createBook()" style="cursor:pointer;"></i>
			</div>
			<div class="row" style="width:100%;display:flex;justify-content:space-evenly;transform:translateY(3vh);">
				<div style="font-size:3vh;font-weight:700;cursor:pointer;user-select:none;" ng-click="createBook()">CREATE</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="transform:translateY(15vh);">
			<div class="row" style="width:100%;display:flex;justify-content:space-evenly;">
				<i class="fas fa-edit fa-3x" ng-click="editBook()" style="cursor:pointer;"></i>
			</div>
			<div class="row" style="width:100%;display:flex;justify-content:space-evenly;transform:translateY(3vh);">
				<div style="font-size:3vh;font-weight:700;cursor:pointer;user-select:none;" ng-click="editBook()">EDIT</div>
			</div>
		</div>
	</div>
	<div class="row" style="width:100%;">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="row" style="width:100%;display:flex;justify-content:space-evenly;">
				<i class="fas fa-clipboard-list fa-3x" ng-click="listBook()" style="cursor:pointer;"></i>
			</div>
			<div class="row" style="width:100%;display:flex;justify-content:space-evenly;transform:translateY(3vh);">
				<div style="font-size:3vh;font-weight:700;cursor:pointer;user-select:none;" ng-click="listBook()">LIST</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="row" style="width:100%;display:flex;justify-content:space-evenly;">
				<i class="fas fa-trash fa-3x" ng-click="deleteBook()" style="cursor:pointer;"></i>
			</div>
			<div class="row" style="width:100%;display:flex;justify-content:space-evenly;transform:translateY(3vh);">
				<div style="font-size:3vh;font-weight:700;cursor:pointer;user-select:none;" ng-click="deleteBook()">DELETE</div>
			</div>
		</div>
	</div>
</div>