<div class="row" style="position:absolute;top:35vh;left:0;width:100vw;margin:auto;">
	<div class="row" style="width:100%;">
		<div class="row" style="width:100%">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="col-lg-2 offset-lg-9 col-md-2 offset-md-8 col-sm-2 offset-sm-7 col-xs-2 offset-xs-9" style="font-size:3vh;font-weight:700;text-align:right;">USERNAME</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div>
					<input id="usernameinp" type="text" class="cstinpbox" ng-model="usersuname" ng-change="valSignupFields()" />
				</div>
			</div>
		</div>
		<div class="row" style="width:100%;transform:translateY(3vh);">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="col-lg-2 offset-lg-9 col-md-2 offset-md-8 col-sm-2 offset-sm-7 col-xs-2 offset-xs-9" style="font-size:3vh;font-weight:700;text-align:right;">PASSWORD</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div>
					<input type="password" class="cstinpbox" ng-model="usersupass" ng-change="valSignupFields()" />
				</div>
			</div>
		</div>
		<div class="row" style="width:100%;transform:translateY(5vh);">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="col-lg-6 offset-lg-6 col-md-8 offset-md-4 col-sm-10 offset-sm-2 col-xs-5 offset-xs-9" style="font-size:3vh;font-weight:700;text-align:right;">RE-ENTER PASSWORD</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div>
					<input type="password" class="cstinpbox" ng-model="usersurepass" ng-change="valSignupFields()" />
				</div>
			</div>
		</div>
		<div class="row" style="width:100%;transform:translateY(10vh);">
			<div class="col-lg-6 offset-lg-6 col-md-6 offset-md-6 col-sm-6 offset-sm-6 col-xs-6 offset-xs-6">
				<button class="subbtncl" type="submit" ng-click="registerUser()" ng-disabled="fillsignupform">SIGN UP</button>
			</div>
		</div>
		<div class="row" style="width:100%;transform:translateY(15vh);">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="col-lg-6 offset-lg-10 col-md-6 offset-md-10 col-sm-10 offset-sm-10 col-xs-4 offset-xs-11 linktxt" style="font-size:2vh;font-weight:700;text-align:center;" ng-click="returnLogin()">Return to Login</div>
			</div>
		</div>
	</div>
</div>